<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arjinmc.jetpackplayground">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackPlayground">

        <!--        <activity-->
        <!--            android:name=".SlashActivity"-->
        <!--            android:theme="@style/Theme.MySplash">-->
        <!--        </activity>-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".architecture.RoomActivity" />
        <activity android:name=".architecture.ViewBindingActivity" />
        <activity android:name=".architecture.DataStoreActivity" />

        <activity android:name=".ui.constrainlayout.ConstrainLayoutActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutBasicActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutAutoRightActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutChainStyleActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutConstrainWidthActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutBiasActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutCircularPositionActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutRatiosActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutGuidelineActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutBarrierActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutGroupActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutBaselineActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutFlowActivity" />
        <activity android:name=".ui.constrainlayout.ConstrainLayoutConstrainSetActivity" />

        <activity android:name=".ui.motionlayout.MotionLayoutActivity" />
    </application>

</manifest>